.theme-outer-container 
    .theme-container(id='ThemeSelector')
        label(for='dark') 🌜
        input(id='dark' type='radio' name='theme' value='dark')
        input(id='light' type='radio' name='theme' value='light' checked)
        label(for='light') 🌞
