@use 'variables';

.attribution {
    margin-block-start: calc(2rem + 2vw);
    text-align: center;
}

.settings-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
