@use 'variables';

.image-container {
    @include variables.respond(sm) {
        padding: 1rem;
    }
}

.recipe-image {
    object-fit: contain;
    width: 100%;

    @include variables.respond(sm) {
        border-radius: 2rem;
    }
}

.recipe-container {
    padding: 1rem;
}

.recipe-title {
    font-family: variables.$font-family-young;
    line-height: variables.$lh-lg; 
}

.preparation-card-container {
    margin: 1rem;
    padding: 1rem;
    background-color: variables.$bg-secondary;
    border-radius: 2rem;

    li {
        color: variables.$text-primary;

        &::marker {
            color: variables.$text-secondary;
        }
    }
}

.preparation-card-title {
    padding-inline-start: 1rem;
    font-size: variables.$fs-lg;
    font-weight: 600;
    color: variables.$color-secondary;
}

.card-container {
    margin-top: 2rem;

    &:not(:last-child) {
        border-bottom: 1px solid variables.$line-color; 
    }

    li {
        margin: 1rem 0;
        &::marker {
            color: variables.$text-secondary;
        }
    }
}

.card-title {
    margin: 1rem;
    font-family: variables.$font-family-young;
    font-size: variables.$fs-xl;
    color: variables.$text-secondary;
}

.card-text, .description {
    padding: 1rem;
}

.card-grid-key-value-container {
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1rem;

    &:not(:last-child) {
        border-bottom: 1px solid variables.$line-color; 
    }
}

.card-grid-value {
    font-weight: 600;
    color: variables.$text-secondary;
}
